.avert-eere-profile .avert-chart-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #444;
}

.avert-eere-profile .avert-modal {
  font-weight: normal;
  line-height: 1.375;
  text-align: left;
}
