.avert-steps {
  border: 1px solid #aaa;
}

.avert-loading-overlay {
  position: relative;
}

.avert-loading-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.875);
}

.avert-loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #00bee6;
}

.avert-loading-indicator svg {
  width: 100%;
  transform: scale(0.75);
}

.avert-loading-heading {
  font-size: 1.25rem;
  font-weight: bold;
}

.avert-loading-progress {
  margin-top: 0.5rem;
  width: 100%;
}

.avert-loading-info {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.avert-message-heading {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
  font-size: 0.75rem;
}

.avert-message-top,
.avert-message-bottom {
  position: relative;
  left: -1rem;
  width: calc(100% + 2rem);
  padding: 1rem;
  margin-top: 0;
  font-size: 0.625rem;
}
.avert-message-top {
  top: 0;
}
.avert-message-bottom {
  bottom: -1rem;
}

.avert-validation-error {
  color: white;
  background-color: rgb(212, 57, 57);
}
.avert-validation-warning {
  background-color: rgb(249, 201, 114);
}

/* --- media queries --- */
@media (min-width: 25em) {
  .avert-message-top,
  .avert-message-bottom {
    left: -1.125rem;
    width: calc(100% + 2.25rem);
    padding: 1.125rem;
  }
  .avert-message-bottom {
    bottom: -1.125rem;
  }

  .avert-loading-indicator svg {
    transform: scale(0.8125);
  }

  .avert-loading-heading {
    font-size: 1.3125rem;
  }

  .avert-loading-info {
    font-size: 0.8125rem;
  }
}

@media (min-width: 30em) {
  .avert-message-heading {
    font-size: 0.8125rem;
  }

  .avert-message-top,
  .avert-message-bottom {
    left: -1.25rem;
    width: calc(100% + 2.5rem);
    padding: 1.25rem;
    font-size: 0.6875rem;
  }
  .avert-message-bottom {
    bottom: -1.25rem;
  }

  .avert-loading-indicator svg {
    transform: scale(0.875);
  }

  .avert-loading-heading {
    font-size: 1.375rem;
  }

  .avert-loading-info {
    font-size: 0.875rem;
  }
}

@media (min-width: 35em) {
  .avert-message-top,
  .avert-message-bottom {
    left: -1.375rem;
    width: calc(100% + 2.75rem);
    padding: 1.375rem;
  }
  .avert-message-bottom {
    bottom: -1.375rem;
  }

  .avert-loading-indicator svg {
    transform: scale(0.9375);
  }

  .avert-loading-heading {
    font-size: 1.4375rem;
  }

  .avert-loading-info {
    font-size: 0.9375rem;
  }
}

@media (min-width: 40em) {
  .avert-message-heading {
    font-size: 0.875rem;
  }

  .avert-message-top,
  .avert-message-bottom {
    left: -1.5rem;
    width: calc(100% + 3rem);
    padding: 1.5rem;
    font-size: 0.75rem;
  }
  .avert-message-bottom {
    bottom: -1.5rem;
  }

  .avert-loading-indicator svg {
    transform: none;
  }

  .avert-loading-heading {
    font-size: 1.5rem;
  }

  .avert-loading-info {
    font-size: 1rem;
  }
}
