.avert-region-map {
  position: relative;
  margin: 1.5rem 0;
}
/* padding-top: intrinsic aspect ratio so SVG displays property in IE */
.avert-region-map::before {
  content: '';
  display: block;
  /* height and width of svg */
  padding-top: calc(500 / 720 * 100%);
}
.avert-region-map svg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* labels */
.avert-region-map .label {
  cursor: pointer;
  pointer-events: none;
}
.avert-region-map .label text {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  fill: #fff;
}
.avert-region-map .label rect {
  fill: #111;
  opacity: 0.66;
}

/* regions */
.avert-region-map .avert-region {
  stroke: #fff;
  stroke-linejoin: round;
  cursor: pointer;
  opacity: 0.33;
}
.avert-region-map .avert-region:hover {
  opacity: 0.66;
}
.avert-region-map .avert-region[data-active='true'] {
  opacity: 1;
}

/* CALIFORNIA */
#region-ca {
  fill: #fed330;
}

/* GREAT_LAKES_MID_ATLANTIC */
#region-emw {
  fill: #db742b;
}

/* LOWER_MIDWEST */
#region-sc {
  fill: #a74c8f;
}

/* NORTHEAST */
#region-ne {
  fill: #d52074;
}

/* NORTHWEST */
#region-nw {
  fill: #364f95;
}

/* ROCKY_MOUNTAINS */
#region-rm {
  fill: #67b187;
}

/* SOUTHEAST */
#region-se {
  fill: #bdc736;
}

/* SOUTHWEST */
#region-sw {
  fill: #d85029;
}

/* TEXAS */
#region-tx {
  fill: #fda929;
}

/* UPPER_MIDWEST */
#region-wmw {
  fill: #48b5d8;
}
