@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme) prefix(tw);
/* @import "tailwindcss/preflight.css" layer(base) prefix(tw); */
@import "tailwindcss/utilities.css" layer(utilities) prefix(tw);
