/* --- EPA/USWDS --- */
.usa-alert--info,
.usa-alert--success,
.usa-alert--error {
  padding: 0;
}

@media (min-width: 64em) {
  .usa-nav {
    float: none;
  }
}

/* --- AVERT --- */
.avert-blue {
  color: rgb(0, 128, 164);
}

.avert-light-blue {
  color: rgb(0, 164, 200);
}

.avert-table-container {
  /* account for 1px border when table is in an overflow scrollable container */
  width: calc(100% - 1px);
}

.avert-table {
  overflow: auto;
  margin: 0;
  border-spacing: 1px;
  border-color: white;
}

.avert-table th {
  color: white;
  background-color: rgb(0, 128, 164); /* avert-blue */
}

.avert-table td {
  color: #3d4551; /* text-base-darker */
  background-color: inherit;
}

.avert-table th,
.avert-table td {
  padding: 0.375rem 0.625rem;
  border-color: inherit;
  line-height: 1.375;
}

.avert-table th:not(.font-mono-xs),
.avert-table td:not(.font-mono-xs) {
  font-size: 1rem;
}

.avert-table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 169, 204, 0.125);
}

.avert-table tbody tr:nth-of-type(even) {
  background-color: rgba(0, 169, 204, 0.0625);
}
