@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- EPA/USWDS --- */
.usa-alert--info,
.usa-alert--warning,
.usa-alert--success,
.usa-alert--error {
  padding: 0;
}

.usa-alert--info::before,
.usa-alert--warning::before,
.usa-alert--success::before,
.usa-alert--error::before {
  display: none;
}

.usa-alert .usa-alert__body {
  max-width: none;
}

.usa-radio,
.usa-checkbox {
  background-color: inherit;
}

.usa-radio__label,
.usa-checkbox__label {
  padding-left: 1.625rem;
  font-size: 0.93rem; /* font-sans-2xs */
  user-select: none;
  text-indent: 0;
}

.usa-radio__label::before,
.usa-checkbox__label::before {
  width: 1rem;
  height: 1rem;
}

input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus,
button:not([disabled]):focus,
[href]:focus,
.usa-radio__input:focus + [class*='__label']::before,
.usa-checkbox__input:focus + [class*='__label']::before {
  outline-width: 0.1875rem;
}

.usa-input:disabled,
.usa-select:disabled {
  opacity: 1;
  background-color: #f3f9fc;
}

.highcharts-menu hr {
  margin: 0;
}

@media (min-width: 64em) {
  .usa-nav {
    float: none;
  }
}

/* --- Highcharts --- */
.highcharts-axis-title,
.highcharts-axis-labels *,
.highcharts-exporting-group * {
  transition: none;
}

/* --- React Select --- */
.avert-select * {
  font-size: 0.9375rem;
  transition: none;
}

.avert-select .avert-select__control {
  border-color: #a9aeb1;
  border-radius: 0;
  color: #1b1b1b;
}

.avert-select .avert-select__value-container {
  padding: 0.25rem 0.375rem;
}

.avert-select .avert-select__multi-value {
  border: 1px solid rgba(0, 128, 164, 0.375);
  background-color: rgba(0, 169, 204, 0.0625);
}

.avert-select .avert-select__multi-value__label {
  padding-right: 6px;
}

.avert-select .avert-select__multi-value:hover {
  border-color: var(--avert-blue);
}

.avert-select .avert-select__multi-value__remove:hover {
  cursor: pointer;
  border-radius: 0;
  color: white;
  background-color: var(--avert-blue);
}

.avert-select .avert-select__clear-indicator,
.avert-select .avert-select__dropdown-indicator {
  cursor: pointer;
}

.avert-select .avert-select__clear-indicator:hover,
.avert-select .avert-select__dropdown-indicator:hover {
  color: var(--avert-blue);
}

.avert-select .avert-select__menu {
  margin-top: 0.1875rem;
  border-radius: 0;
}

.avert-select .avert-select__menu-list {
  padding: 0;
}

.avert-select .avert-select__control--is-focused,
.avert-select .avert-select__control--menu-is-open {
  box-shadow: none;
  border-color: #a9aeb1;
  outline: 0.1875rem solid #2491ff !important;
}

.avert-select .avert-select__placeholder {
  color: #71767a; /* text-base */
}

/* --- AVERT --- */
:root {
  --avert-blue: rgb(0, 128, 164);
  --avert-dark-blue: rgb(0, 108, 150);
  --avert-light-blue: rgb(0, 164, 200);
}

.avert-container {
  margin: 0 auto;
  max-width: 1400px; /* USWDS breakpoint: widescreen */
}

.avert-container nav .usa-list--unstyled {
  margin-bottom: 0;
}

.avert-blue {
  color: var(--avert-blue);
}

.avert-light-blue {
  color: var(--avert-light-blue);
}

.avert-border {
  border-color: rgba(0, 128, 164, 0.375);
}

.avert-box-background {
  background-color: rgba(0, 169, 204, 0.0625);
}

.avert-box {
  border: 1px solid rgba(0, 128, 164, 0.375);
  background-color: rgba(0, 169, 204, 0.0625);
}

.avert-box-heading {
  margin: 0;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgba(0, 128, 164, 0.1875);
  color: var(--avert-dark-blue);
}

.avert-summary:focus {
  outline: 0.1875rem solid #2491ff;
}

.avert-tooltip-icon:focus {
  outline-offset: 0.125rem;
}

.avert-button {
  font-size: 0.875rem;
  background-color: var(--avert-blue);
}

.avert-button:hover {
  background-color: var(--avert-light-blue);
}

.avert-button-disabled,
.avert-button-disabled:hover {
  background-color: #707070;
  cursor: not-allowed;
}

.avert-table-container {
  /* account for 1px border when table is in an overflow scrollable container */
  width: calc(100% - 1px);
}

.avert-table {
  overflow: auto;
  margin: 0;
  border-spacing: 1px;
  border-color: white;
}

.avert-table tr {
  background-color: rgba(0, 169, 204, 0.0625);
}

.avert-table th,
.avert-table td {
  padding: 0.375rem 0.625rem;
  border-color: white;
  line-height: 1.25;
}

.avert-table th:not(.font-mono-xs),
.avert-table td:not(.font-mono-xs) {
  font-size: 1rem;
}

.avert-table thead th,
.avert-table thead td {
  color: white;
  background-color: var(--avert-blue);
}

.avert-table tbody td,
.avert-table tbody th {
  font-weight: normal;
  color: #3d4551; /* text-base-darker */
  background-color: inherit;
}

.avert-table-striped tbody tr:nth-of-type(odd),
.avert-table tbody tr.avert-table-striped-row {
  background-color: rgba(0, 169, 204, 0.125);
}

.avert-rule {
  border-top-color: rgba(0, 128, 164, 0.1875);
}

.avert-columns {
  columns: 1;
}

@media (min-width: 64em) {
  .avert-columns {
    columns: 2;
  }
}
