.avert-nav {
  overflow: hidden;
  margin-bottom: 1rem;
}

.avert-nav ol {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

/* --- media queries --- */
@media (min-width: 35em) {
  .avert-nav {
    border: 1px solid #aaa;
  }
}
