.avert-details-block {
  margin: 1rem 0;
  border-top: 1px solid #ccc;
}

.avert-details-block header {
  font-weight: bold;
  background-color: #eee;
}

.avert-details-block header,
.avert-details-block details {
  overflow: hidden;
  border: 1px solid #ccc;
  border-top: 0;
}

.avert-details-block header,
.avert-details-block section {
  padding: 0.5rem 0.625rem;
}

.avert-details-block summary {
  position: relative;
  padding: 0 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
}
/* letter */
.avert-details-block summary::before {
  content: attr(data-label);
  display: inline-block;
  position: relative;
  top: 0.25rem;
  margin: 0.25rem 0.625rem 0 0;
  padding: 0.125rem;
  border-radius: 3px;
  width: 1.75rem;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 4px rgba(0,0,0, 0.125);
  color: white;
  background-color: #aaa;
}

  /* highlight letter on hover/open */
.avert-details-block details[open] > summary::before,
.avert-details-block summary:hover::before {
  background-color: rgb(0,169,204);
}

.avert-details-block p,
.avert-details-block ul,
.avert-details-block li {
  margin-top: 0 !important;
  font-size: 0.875rem;
}

.avert-details-block span {
  font-size: 0.75rem;
}

.avert-details-block input {
  margin: 0.25rem 0;
  padding: 0.125rem 0.25rem;
  width: 4rem;
  font-size: inherit;
  font-weight: bold;
  text-align: right;
}

.avert-input-error {
  display: block;
  font-weight: bold;
  color: rgb(206, 29, 29);
}
