.annual-displacement-table {
    border: 1px solid black;
    margin:0;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    text-align: left;      
}

 .annual-displacement-table td {
    border-bottom: 1px solid black;
 }