/* --- buttons --- */
.avert-button {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  font-size: 0.625rem;
  color: white;
  background-color: rgb(0, 128, 164); /* avert-blue */
  text-decoration: none;
}

.avert-button:hover {
  background-color: rgb(0, 164, 200); /* avert-light-blue */
}

.avert-button:visited {
  color: white;
}

.avert-button-disabled,
.avert-button-disabled:hover {
  background-color: #707070;
  cursor: not-allowed;
}

/* --- tables --- */
.avert-table {
  display: inline-block;
  overflow: auto;
  border-spacing: 1px;
  border-color: white;
  width: 100%;
}

.avert-table tr:nth-of-type(odd) {
  background-color: rgba(0, 169, 204, 0.1875);
}

.avert-table tr:nth-of-type(even) {
  background-color: rgba(0, 169, 204, 0.125);
}

.avert-table th {
  color: white;
  background-color: rgb(0, 128, 164); /* avert-blue */
}

.avert-table th,
.avert-table td {
  padding: 0.375rem 0.625rem;
  font-size: 0.6875rem;
}

.avert-table .avert-table-data {
  width: calc(100% / 3);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.625rem;
  text-align: right;
}

.avert-table .avert-table-group {
  font-weight: bold;
}

/* --- chart titles --- */
.avert-chart-title {
  font-size: 0.75rem;
  line-height: 1.125;
  text-align: center;
  color: #444;
}

/* --- media queries --- */
@media (min-width: 25em) {
  .avert-button {
    font-size: 0.6875rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.75rem;
  }

  .avert-table .avert-table-data {
    font-size: 0.6875rem;
  }

  .avert-chart-title {
    font-size: 0.8125rem;
  }
}

@media (min-width: 30em) {
  .avert-button {
    font-size: 0.75rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.8125rem;
  }

  .avert-table .avert-table-data {
    font-size: 0.75rem;
  }

  .avert-chart-title {
    font-size: 0.875rem;
  }
}

@media (min-width: 35em) {
  .avert-button {
    font-size: 0.8125rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.875rem;
  }

  .avert-table {
    display: table;
  }

  .avert-table .avert-table-data {
    width: auto;
    font-size: 0.8125rem;
  }

  .avert-chart-title {
    font-size: 0.9375rem;
  }
}

@media (min-width: 40em) {
  .avert-button {
    font-size: 0.875rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.9375rem;
  }

  .avert-table .avert-table-data {
    font-size: 0.875rem;
  }

  .avert-chart-title {
    font-size: 1rem;
  }
}
