/* --- layout --- */
.avert-centered {
  text-align: center;
}

/* --- typography --- */
h1,
h2,
h3,
h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1;
}

p {
  margin-top: 0.75rem;
}

p,
li,
select,
label {
  font-size: 0.75rem;
}

a {
  color: rgb(0, 128, 164);
  text-decoration: none;
}

sup,
sub {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
}
sup {
  top: -0.3125rem;
}
sub {
  top: 0.3125rem;
}

fieldset {
  border: 0;
}

/* --- small text --- */
.avert-small-text {
  font-size: 0.625rem;
  color: #666;
}

/* --- buttons --- */
.avert-button {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  font-size: 0.625rem;
  color: white;
  background-color: rgb(0, 128, 164);
}
.avert-button:hover {
  background-color: rgb(0, 164, 200);
}
.avert-button-disabled,
.avert-button-disabled:hover {
  background-color: #707070;
  cursor: not-allowed;
}

/* --- tables --- */
.avert-table {
  display: inline-block;
  overflow: auto;
  border-spacing: 1px;
  border-color: white;
  width: 100%;
}

.avert-table tr:nth-of-type(odd) {
  background-color: rgba(0, 169, 204, 0.1875);
}

.avert-table tr:nth-of-type(even) {
  background-color: rgba(0, 169, 204, 0.125);
}

.avert-table th {
  color: white;
  background-color: rgb(0, 128, 164);
}

.avert-table th,
.avert-table td {
  padding: 0.375rem 0.625rem;
  font-size: 0.6875rem;
}

.avert-table .avert-table-data {
  width: calc(100% / 3);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.625rem;
  text-align: right;
}

.avert-table .avert-table-group {
  font-weight: bold;
}

/* --- chart titles --- */
.avert-chart-title {
  font-size: 0.75rem;
  line-height: 1.125;
  text-align: center;
  color: #444;
}

/* --- media queries --- */
@media (min-width: 25em) {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.125rem;
    font-size: 1.0625rem;
  }

  p {
    margin-top: 0.8125rem;
  }

  p,
  li,
  select,
  label {
    font-size: 0.8125rem;
  }

  .avert-copy ul,
  .avert-copy ol {
    margin-top: 0.8125rem;
    padding-left: 1.625rem;
  }

  .avert-small-text {
    font-size: 0.6875rem;
  }

  .avert-button {
    font-size: 0.6875rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.75rem;
  }

  .avert-table .avert-table-data {
    font-size: 0.6875rem;
  }

  .avert-chart-title {
    font-size: 0.8125rem;
  }
}

@media (min-width: 30em) {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.25rem;
    font-size: 1.125rem;
  }

  p {
    margin-top: 0.875rem;
  }

  p,
  li,
  select,
  label {
    font-size: 0.875rem;
  }

  .avert-copy ul,
  .avert-copy ol {
    margin-top: 0.875rem;
    padding-left: 1.75rem;
  }

  .avert-small-text {
    font-size: 0.75rem;
  }

  .avert-button {
    font-size: 0.75rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.8125rem;
  }

  .avert-table .avert-table-data {
    font-size: 0.75rem;
  }

  .avert-chart-title {
    font-size: 0.875rem;
  }
}

@media (min-width: 35em) {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.375rem;
    font-size: 1.1875rem;
  }

  p {
    margin-top: 0.9375rem;
  }

  p,
  li,
  select,
  label {
    font-size: 0.9375rem;
  }

  .avert-copy ul,
  .avert-copy ol {
    margin-top: 0.9375rem;
    padding-left: 1.875rem;
  }

  .avert-small-text {
    font-size: 0.8125rem;
  }

  .avert-button {
    font-size: 0.8125rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.875rem;
  }

  .avert-table {
    display: table;
  }

  .avert-table .avert-table-data {
    width: auto;
    font-size: 0.8125rem;
  }

  .avert-chart-title {
    font-size: 0.9375rem;
  }
}

@media (min-width: 40em) {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }

  p {
    margin-top: 1rem;
  }

  p,
  li,
  select,
  label {
    font-size: 1rem;
  }

  .avert-copy ul,
  .avert-copy ol {
    margin-top: 1rem;
    padding-left: 2rem;
  }

  .avert-small-text {
    font-size: 0.875rem;
  }

  .avert-button {
    font-size: 0.875rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.9375rem;
  }

  .avert-table .avert-table-data {
    font-size: 0.875rem;
  }

  .avert-chart-title {
    font-size: 1rem;
  }
}
