/* --- buttons --- */
.avert-button {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  font-size: 0.875rem;
  color: white;
  background-color: rgb(0, 128, 164); /* avert-blue */
  text-decoration: none;
}

.avert-button:hover {
  background-color: rgb(0, 164, 200); /* avert-light-blue */
}

.avert-button:visited {
  color: white;
}

.avert-button-disabled,
.avert-button-disabled:hover {
  background-color: #707070;
  cursor: not-allowed;
}
