.avert-inline-select {
  overflow: hidden;
  margin-bottom: 1rem;
}

.avert-inline-select p {
  display: inline-block;
  margin-top: 0;
}

.avert-inline-select label {
  margin-left: 0.75rem;
}

.avert-inline-select input {
  position: relative;
  bottom: 0.125rem;
  margin-right: 0.375rem;
}



.avert-geography-filter {
  overflow: hidden;
}



.avert-select-group {
  float: left;
  margin: 0 0.5rem 1rem;
  width: calc(50% - 1rem);
}
.avert-select-group select {
  width: 100%;
}



.avert-emissions-charts {
  padding: 1rem;
  border: 1px solid #aaa;
}
