.avert-unit-conversion {
  margin: 1rem 0;
}

.avert-unit-conversion p {
  margin: 0.375rem 0;
  font-size: 0.875rem;
  font-weight: bold;
}

.avert-unit-conversion .avert-input-error {
  font-weight: bold;
  font-style: normal;
}

.avert-unit-fields {
  display: flex;
}

.avert-unit-field {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.avert-unit-field input {
  padding: 0.125rem 0.25rem;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: right;
}

/* consistent cross browser focus (http://master.origin.formcore.fgview.com/) */
.avert-unit-field input:focus {
  outline: none;
  box-shadow: inset 0 0 0.25rem rgb(0, 169, 204);
}

.avert-unit-field span {
  flex: 1 0 auto;
  margin: 0 0.25rem;
  font-size: 0.75rem;
}

.avert-unit-field:last-child span {
  margin-right: 0;
}
