.avert-steps {
  border: 1px solid #aaa;
}

.avert-loading-overlay {
  position: relative;
}

.avert-loading-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.875);
}

.avert-loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.avert-loading-indicator svg {
  margin-bottom: 3rem;
  width: 100%;
  transform: scale(2);
}

.avert-loading-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #00bee6;
}
