.avert-steps {
  border: 1px solid #aaa;
}

.avert-loading {
  position: relative;
}

.avert-loading::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.75);
}
