.avert-form-field {
  position: relative;
  float: left;
  margin: 0.25rem;
  padding: 0.25rem;
  border: 1px solid $grey9;
  width: calc(50% - 0.5rem);
  height: 2.75rem;

  label {
    position: absolute;
    z-index: 1;
    left: 0.25rem;
    top: 0.125rem;
    font-size: 0.75rem;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 1.25rem 0.25rem 0.25rem;
    border: 0;
    font-size: 0.875rem;
    font-weight: bold;
  }
}
