.avert-app {
  margin: 2rem 0;
}


.avert-nav {
  overflow: hidden;
  margin-bottom: 1rem;
  border: 1px solid $greya;

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
    height: 2.5rem;
    width: calc((100% - 2.5rem) / 3);
  }

  .avert-tab1,
  .avert-tab2 {
    margin-right: 1.25rem;

    // right arrow
    a::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: -1.25rem;
      // css triangle
      width: 0;
      height: 0;
      border-top: 1.25rem solid transparent;
      border-bottom: 1.25rem solid transparent;
      border-left: 1.25rem solid $greyc;
    }
  }

  .avert-tab2,
  .avert-tab3 {
    // fill behind right arrow
    a::before {
      content: '';
      position: absolute;
      top: 0;
      left: -1.25rem;
      width: 1.25rem;
      height: 2.5rem;
      background-color: $greyc;
    }
  }

  a {
    position: relative;
    display: block;
    padding: 0.75rem;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 5px rgba(black, 0.25);
    color: white;
    background-color: $greyc;
    cursor: default;

    &[data-active="true"] {
      border-color: $avert-blue;
      background-color: lighten($avert-blue, 5%);

      // right arrow
      &::after {
        border-left-color: lighten($avert-blue, 5%);
      }
      // fill behind arrow
      &::before {
        background-color: lighten($avert-blue, 5%);
      }
    }
  }
}


.avert-steps {
  border: 1px solid $greya;
}


// hide inactive steps
.avert-step[data-active="false"] {
  display: none;
}


.avert-step-body {
  padding: 1.5rem;
  border-top: 0.375rem solid lighten($avert-blue, 5%);

  // removes the first child element's top margin
  > :first-child {
    margin-top: 0 !important;
  }
}


.avert-step-footer {
  overflow: hidden;
  padding: 0.75rem;
  background: $greye;

  // removes the first child element's top margin
  > :first-child {
    margin-top: 0 !important;
  }
}


// prev/next icons for footer buttons
.avert-prev { float: left; }
.avert-next { float: right; }
.avert-prev::before,
.avert-next::after, {
  content: '';
  display: inline-block;
  width: 0.625rem; // 10px
  height: 0.625rem; // 10px
  background-image: url('../img/icons.svg');
  background-size: 400px 200px;
  background-position: -36px -10px;
}
.avert-prev::before {
  margin-right: 0.375rem;
  transform: rotate(180deg);
}
.avert-next::after {
  margin-left: 0.375rem;
}


.avert-region-select {
  margin: 1.5rem 25% 0;
  width: 50%;
}


.avert-region-map {
  margin-bottom: 1.5rem;

  svg {
    max-width: 100%;
    height: auto;
  }
}


.avert-button {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  font-size: 0.875rem;
  color: white;
  background-color: $avert-blue;

  &:hover {
    background-color: lighten($avert-blue, 5%);
  }
}
.avert-reset-button {
  background-color: $red;

  &:hover {
    background-color: lighten($red, 5%);
  }

  // hide right arrow
  &::after { display: none; }
}


.avert-input-group {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $greyc;

  h3 {
    margin-top: 0;
  }

  p {
    margin-top: 0.5rem;
  }
}


.avert-eere-profile {
  // temporary
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}


.avert-table {
  border-spacing: 1px;
  border-color: white;
  width: 100%;

  tr {
    &:nth-of-type(odd) {
      background-color: rgba($avert-blue, 0.1875);
    }

    &:nth-of-type(even) {
      background-color: rgba($avert-blue, 0.125);
    }
  }

  th {
    color: white;
    background-color: $avert-blue;
  }

  th, td {
    padding: 0.375rem 0.5rem;
    font-size: 0.9375rem;
  }

  td {
    padding-left: 1.25rem;
  }

  .avert-table-group {
    font-weight: bold;

    td {
      padding-left: 0.375rem;
    }
  }
}


.avert-inline-select {
  overflow: hidden;
  margin-bottom: 1rem;

  p {
    display: inline-block;
    margin-top: 0;
  }

  label {
    margin-left: 0.75rem;
  }

  input {
    position: relative;
    bottom: 0.125rem;
    margin-right: 0.375rem;
  }
}


.avert-geography-filter {
  overflow: hidden;
}


.avert-select-group {
  float: left;
  margin: 0 0.5rem 1rem;
  width: calc(50% - 1rem);

  select {
    width: 100%;
  }

  // hide inactive filters
  &[data-active="false"] {
    display: none;
  }
}


.avert-geography-chart {
  margin: 1.5rem 0;

  // temporary
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}
