/* --- reset --- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Mono');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  /* prevent iOS from resizing text */
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: white;
}

/* --- layout --- */
.avert-container {
  margin: 0rem auto;
  max-width: 45rem; /* 720px */
}
.avert-centered {
  text-align: center;
}

/* --- typography --- */
h1,
h2,
h3,
h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1;
}

p {
  margin-top: 0.75rem;
}

p,
li,
select,
label {
  font-size: 0.75rem;
}

a {
  color: rgb(0, 169, 204);
  text-decoration: none;
}

sup,
sub {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
}
sup {
  top: -0.3125rem;
}
sub {
  top: 0.3125rem;
}

fieldset {
  border: 0;
}

/* --- copy --- */
.avert-copy {
  line-height: 1.375;
  color: #444;
}
.avert-copy ul,
.avert-copy ol {
  margin-top: 0.75rem;
  padding-left: 1.5rem;
}
/* remove top margin for nested list items */
.avert-copy ul ul,
.avert-copy ul ol,
.avert-copy ol ul,
.avert-copy ol ol {
  margin-top: 0;
}

/* --- headings --- */
.avert-heading-one {
  font-size: 1.25rem;
  color: rgb(0, 169, 204);
}
.avert-heading-two {
  margin-bottom: 0.75rem;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid currentColor;
  font-size: 1rem;
  color: rgb(0, 169, 204);
}
.avert-heading-three {
  font-size: 0.875rem;
  color: rgb(0, 127, 153);
}

/* --- small text --- */
.avert-small-text {
  font-size: 0.625rem;
  color: #666;
}

/* --- buttons --- */
.avert-button {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 3px;
  font-size: 0.625rem;
  color: white;
  background-color: rgb(0, 169, 204);
}
.avert-button:hover {
  background-color: rgb(0, 190, 230);
}
.avert-button-disabled,
.avert-button-disabled:hover {
  background-color: #999;
  cursor: not-allowed;
}

/* --- tables --- */
.avert-table {
  display: inline-block;
  overflow: auto;
  border-spacing: 1px;
  border-color: white;
  width: 100%;
}

.avert-table tr:nth-of-type(odd) {
  background-color: rgba(0, 169, 204, 0.1875);
}

.avert-table tr:nth-of-type(even) {
  background-color: rgba(0, 169, 204, 0.125);
}

.avert-table th {
  color: white;
  background-color: rgb(0, 169, 204);
}

.avert-table th,
.avert-table td {
  padding: 0.375rem 0.625rem;
  font-size: 0.6875rem;
}

.avert-table .avert-table-data {
  width: calc(100% / 3);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.625rem;
  text-align: right;
}

.avert-table .avert-table-group {
  font-weight: bold;
}

/* --- chart titles --- */
.avert-chart-title,
.avert-chart-subtitle {
  line-height: 1.125;
  font-weight: bold;
  text-align: center;
  color: #444;
}

.avert-chart-title {
  font-size: 0.75rem;
}

.avert-chart-subtitle {
  margin-top: 0.5rem;
  font-size: 0.625rem;
}

/* --- media queries --- */
@media (min-width: 25em) {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.125rem;
    font-size: 1.0625rem;
  }

  p {
    margin-top: 0.8125rem;
  }

  p,
  li,
  select,
  label {
    font-size: 0.8125rem;
  }

  .avert-copy ul,
  .avert-copy ol {
    margin-top: 0.8125rem;
    padding-left: 1.625rem;
  }

  .avert-heading-one {
    font-size: 1.3125rem;
  }
  .avert-heading-two {
    margin-bottom: 0.8125rem;
    font-size: 1.0625rem;
  }
  .avert-heading-three {
    font-size: 0.9375rem;
  }

  .avert-small-text {
    font-size: 0.6875rem;
  }

  .avert-button {
    font-size: 0.6875rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.75rem;
  }

  .avert-table .avert-table-data {
    font-size: 0.6875rem;
  }

  .avert-chart-title {
    font-size: 0.8125rem;
  }
}

@media (min-width: 30em) {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.25rem;
    font-size: 1.125rem;
  }

  p {
    margin-top: 0.875rem;
  }

  p,
  li,
  select,
  label {
    font-size: 0.875rem;
  }

  .avert-copy ul,
  .avert-copy ol {
    margin-top: 0.875rem;
    padding-left: 1.75rem;
  }

  .avert-heading-one {
    font-size: 1.375rem;
  }
  .avert-heading-two {
    margin-bottom: 0.875rem;
    font-size: 1.125rem;
  }
  .avert-heading-three {
    font-size: 1rem;
  }

  .avert-small-text {
    font-size: 0.75rem;
  }

  .avert-button {
    font-size: 0.75rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.8125rem;
  }

  .avert-table .avert-table-data {
    font-size: 0.75rem;
  }

  .avert-chart-title {
    font-size: 0.875rem;
  }

  .avert-chart-subtitle {
    font-size: 0.6875rem;
  }
}

@media (min-width: 35em) {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.375rem;
    font-size: 1.1875rem;
  }

  p {
    margin-top: 0.9375rem;
  }

  p,
  li,
  select,
  label {
    font-size: 0.9375rem;
  }

  .avert-copy ul,
  .avert-copy ol {
    margin-top: 0.9375rem;
    padding-left: 1.875rem;
  }

  .avert-heading-one {
    font-size: 1.4375rem;
  }
  .avert-heading-two {
    margin-bottom: 0.9375rem;
    font-size: 1.1875rem;
  }
  .avert-heading-three {
    font-size: 1.065rem;
  }

  .avert-small-text {
    font-size: 0.8125rem;
  }

  .avert-button {
    font-size: 0.8125rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.875rem;
  }

  .avert-table {
    display: table;
  }

  .avert-table .avert-table-data {
    width: auto;
    font-size: 0.8125rem;
  }

  .avert-chart-title {
    font-size: 0.9375rem;
  }
}

@media (min-width: 40em) {
  h1,
  h2,
  h3,
  h4 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
  }

  p {
    margin-top: 1rem;
  }

  p,
  li,
  select,
  label {
    font-size: 1rem;
  }

  .avert-copy ul,
  .avert-copy ol {
    margin-top: 1rem;
    padding-left: 2rem;
  }

  .avert-heading-one {
    font-size: 1.5rem;
  }
  .avert-heading-two {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .avert-heading-three {
    font-size: 1.125rem;
  }

  .avert-small-text {
    font-size: 0.875rem;
  }

  .avert-button {
    font-size: 0.875rem;
  }

  .avert-table th,
  .avert-table td {
    font-size: 0.9375rem;
  }

  .avert-table .avert-table-data {
    font-size: 0.875rem;
  }

  .avert-chart-title {
    font-size: 1rem;
  }

  .avert-chart-subtitle {
    font-size: 0.75rem;
  }
}
