.avert-step-body {
  padding: 1rem;
  border-top: 0.375rem solid rgb(0, 190, 230);
  min-height: 30rem;
}

/* remove the first child element's top margin */
.avert-step-body > :first-child {
  margin-top: 0 !important;
}

/* --- media queries --- */
@media (min-width: 25em) {
  .avert-step-body {
    padding: 1.125rem;
  }
}

@media (min-width: 30em) {
  .avert-step-body {
    padding: 1.25rem;
  }
}

@media (min-width: 35em) {
  .avert-step-body {
    padding: 1.375rem;
  }
}

@media (min-width: 40em) {
  .avert-step-body {
    padding: 1.5rem;
  }
}
